secrets.ps1
__pycache__/
.mypy_cache/

# Retrouver la taille du répertoire projet
# Github 5GB max
# (Get-ChildItem . -Recurse | Measure-Object -Property Length -sum).sum/1GB

# Retrouver les fichiers avec une certaine extension
# Get-ChildItem -Path . -Directory -Recurse -Force | Where-Object { $_.Name -eq ".aws" }

# large files Size > 100MB (warning à 50MB)
# pas moyen de spécifier la taille dans .gitignore
# Get-ChildItem ./ -recurse | where-object {$_.length -gt 100000000} | Sort-Object length | ft fullname, length -auto


